/* # Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

#### Text

- Very dark desaturated blue: hsl(238, 29%, 16%)
- Soft red: hsl(14, 88%, 65%)

#### Gradient

Background gradient:

- Soft violet: hsl(273, 75%, 66%)
- Soft blue: hsl(240, 73%, 65%)

### Neutral

#### Text

- Very dark grayish blue: hsl(237, 12%, 33%)
- Dark grayish blue: hsl(240, 6%, 50%)

#### Dividers

- Light grayish blue: hsl(240, 5%, 91%)

## Typography

### Body Copy

- Font size: 12px

### Font

- Family: [Kumbh Sans](https://fonts.google.com/specimen/Kumbh+Sans)
- Weights: 400, 700 */


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Kumbh Sans';
}

:root {
    --veryDarkBlue: hsl(238, 29%, 16%);
    /* on hover */
    --softRedOrange: hsl(14, 88%, 65%);
    /* gradients */
    --softViolet: hsl(273, 75%, 66%);
    --softBlue: hsl(240, 73%, 65%);
    /* text */
    --veryDarkGrayishBlue: hsl(237, 12%, 33%);
    --darkGrayishBlue: hsl(240, 6%, 50%);
    /* dividers */
    --lightGrayishBlue: hsl(240, 5%, 91%);
}
body {
    background: linear-gradient( var(--softViolet), var(--softBlue) );
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#faqCard {
    width: 350px;
    min-height: 500px;
    margin: 1.5rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: white;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 40px -5px;
    position: relative;
    /* background-image: url('./images/illustration-woman-online-mobile.svg');
    background-repeat: no-repeat;
    background-position: 70px -50px;
    background-size: 50vw; */
}
/* women illustration */
#faqCard::before {
  content: "";
  background: url(images/illustration-woman-online-mobile.svg) no-repeat;
  width: 268px;
  height: 185px;
  position: absolute;
  top: -1%;
  left: 50%;
  transform: translate(-45%, -55%);
}
/* pattern */
#faqCard::after {
    content: "";
    background: url(images/bg-pattern-mobile.svg) no-repeat;
    width: 245px;
    height: 105px;
    position: absolute;
    top: 1%;
    left: 50%;
    transform: translate(-50%, 1%);

}

.faq-dropdowns {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
   
}
#questionList {
    list-style-type: none;
    padding: 1rem 0px;
    font-size: 12px;
    width: 95%;
}

.questions {
    border-bottom: 1px solid var(--lightGrayishBlue);
    padding: 10px;
}
.questions:hover, .arrowButton:hover  {
    color: var(--softRedOrange);
    cursor: pointer;
}

p { display: inline; }

.answersDiv {
    display: none;
}

.arrowButton {
    background-color: white;
    border: none;
}

@media only screen and (min-width: 768px) {
    
    #faqCard {
        margin: 2rem;
        flex-direction: row;
        width: 59.375rem;
        background:
        url(images/illustration-woman-online-desktop.svg) bottom 3.1rem left -5.1rem no-repeat,
        url(images/bg-pattern-desktop.svg) bottom -10rem left -36rem no-repeat;
        background-color: white;
    }
    .faq-dropdowns {
        width: 290px;
        align-items: flex-start;
    }
    #heading {
        align-self: flex-start;
        padding: 10px;
        font-size: 35px;
    }

    #questionList {
        width: 90%;
    }
    .questions {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    /* box */
    #faqCard::before {
        content: "";
        background: url('./images/illustration-box-desktop.svg') no-repeat;
        width: 180px;
        height: 170px;
        position: absolute;
        top: 63.75%;
        left: -0.8%;
    }
      /* pattern */
      #faqCard::after {
          display: none;
      } 
      
    
}

@media only screen and (min-width: 992px) {
    .faq-dropdowns {
        width: 400px;
        justify-content: space-evenly;
    }
    
    #questionList {
        font-size: 14px;
    }
    
}
